<div class="container-fluid">
  <div class="row">
    <nav id="sidebar" class="col-md-2 col-lg-2 d-md-block sidebar" style="background-color: #15283C;">
      <div class="position-sticky">
        <div>
          <i class="fa-solid fa-store fa-8x p-3" style="color: #FFD43B; margin-left: 70px;"></i>
          <hr size="8" color="red">
        </div>

        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link" (click)="showAdminComponent('orders')" routerLink="/admin/orders"
              routerLinkActive="active">
              <i class="fa-solid fa-cube"></i> Orders
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" (click)="showAdminComponent('categories')" routerLink="/admin/categories"
              routerLinkActive="active">
              <i class="fa-solid fa-list"></i> Categories
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" (click)="showAdminComponent('products')" routerLink="/admin/products"
              routerLinkActive="active">
              <i class="fa-solid fa-boxes-stacked"></i> Products
            </a>
          </li>
        </ul>
      </div>
    </nav>
    <div class="col-md-10 col-lg-10 overflow-auto p-0">
      <header class="header text-white d-flex justify-content-between">
        <h1 class="header-title">Welcome back !</h1>
        <button class="btn btn-danger btn-sm" style="margin-right: 20px;" (click)="logout()">Logout</button>
      </header>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>